@charset "UTF-8";

body{
    background-color: rgb(155, 207, 207);
    font: normal 16px arial, verdana, serif;
}

.basico1{
    color: red;
}
.basico2{
    color: rebeccapurple;
}
.basico3{
    color: aquamarine;

}
.aprendendo{
    color: tomato;
}
#titulo{
    text-align: center;
    background-color: rebeccapurple;
}